.k-block-type-team-box {
  border: 1px solid darkgrey;
  padding: 0.3em 0.8em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.k-block-type-team-box .name {
  font-family: "Raleway";
  line-height: 1.4em;
  font-size: 1.3em;
  font-weight: 700;
}

.k-block-type-team-box .position {
  padding: 0.5em 0;
  line-height: 1.1em;
  font-size: 0.9em;
  font-style: italic;
  flex: 1;
}

.k-block-type-team-box .email {
  color: darkgrey;
  font-size: 0.9em;
  line-height: 0.9em;
}

.k-block-type-team-box .spamprotection {
  display:none;
}

.k-block-type-team-box .first:before {
  content: attr(data-local);
}

.k-block-type-team-box .last:before {
  content: "\0040""\00a0"attr(data-domain);
}
